@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* STYLESHEET */
:root {
  /* COLORS */
  --offWhite: #E9ECEE;
  --white: #F7F7F7;
  --darkBlue: #05102B;
  --blue: #15223F;
  --green: #43DA66;
  --red: #DC355D;
  --lightBlueGradient: linear-gradient(270deg, #57E3DB 0%, #5798E3 100%);
  --greenGradient:linear-gradient(180deg, #57E377 0%, #AEE357 100%);
  --meterGradient:linear-gradient(180deg, #5CE476 0%, #E1E45C 20%, #FF5106 100%);
  --errorGradient: linear-gradient(180deg, #DC8535 0%, #DC355D 100%);

  /* SPACING */
  --spaceSmall: 0.5rem;
  --space: 1rem;
  --spaceLarge: 2rem;

  --borderRadius: 10px;

  /* ANIMATION */
  --transition: 1s background ease;
  --transitionText: 1s color ease;

}

html, body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  border-radius: var(--borderRadius);
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: var(--borderRadius);
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: lightgreen;
  border-radius: var(--borderRadius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green);
  border-radius: var(--borderRadius);
}